@charset "UTF-8";

h1 {
    color: white;
    background-color: red;
}

a {
    color: white;
}

@media (min-width: 200px)
{
    h1 {
        background-color: red;
    }

    a {
        background-color: blue;
    }
}

@media (max-width: 600px)
{
    h1 {
        background-color: blue;
    }

    a {
        background-color: red;
    }
}

.sizeUp {
    font-size: 40px;
}